.element__like {
   width: 22px;
   height: 19px;
   margin: 30px 30px 30px 0px;
   padding: 0;
   border: none;
   background-image: url(../../../images/VectorHeart.svg);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background-color: #fff;
   grid-area: like;
   justify-self: end;
   transition: .5s ease;
}

.element__like:hover {
   opacity: .5;
   cursor: pointer;
}

.element__like:active {
   background-image: url(../../../images/like_active.png);
   opacity: 1;
}