.popup__input {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 0 0 10px 0;
    margin-top: 30px;
    box-sizing: border-box;
    width: 100%;
    vertical-align: super;
}

.popup__input:first-of-type {
    margin-top: 0;
}