.profile__info {
    max-width: 336px;
    min-height: 54px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
}

@media (max-width: 320px) {
    .profile__info {
        max-width: 282px;
        justify-content: center;
    }
}